<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VANIUSHA'S SCHEDULE</title>
    <!--MATERIALIZE CSS STYLE REF-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Grand+Hotel|Just+Another+Hand|Pacifico" rel="stylesheet">
    <!-- Style css link ref-->
    <link href="style/main.css" rel="stylesheet">

</head>

<body class="container">

    <!--Materialize min js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!--JQuery para menú desplegable-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"> 
    </script>
    <script src="js/index.js"></script>
</body>

</html>