<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VANIUSHA'S SCHEDULE</title>
    <!--MATERIALIZE CSS STYLE REF-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!--Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Grand+Hotel|Just+Another+Hand|Pacifico" rel="stylesheet">
    <!-- Style css link ref-->
    <link href="../css/main.css" rel="stylesheet">

</head>

<body>
    <!--Here begin the splash view-->
    <div class="row" id="splash">
        <div>
            <h1 class="title">Vaniusha's Schedule</h1>
            <!--Animated Gif-->
            <h2 class="title">
                <img src="../assets/wolf.gif" class="responsive-img giphy-gif" alt="Two wolves inside">
            </h2>
            <!--close of raw class vie1-->
        </div>
    </div>
    <!--Here is the footer-->
    <footer>
        <ul>
            <li class="footer">
                Powered By:
                <mark>Laboratoria</mark>
                <em>Código que transforma.</em>
            </li>
        </ul>
    </footer>
    <!--Materialize min js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!--Scripts JS-->
    <script src="../js/splash.js"></script>
</body>

</html>