
.giphy-gif {
  border-radius: 50%;
  width: 90%;
  height: 85%;
}
.title {
    font-family: 'Pacifico', cursive;
    font-size: 600%;
    text-align: center;
}
.brand-logo {
    font-family: 'Pacifico', cursive;
    
}
.footer {
    font-family: 'Just Another Hand', cursive;
    color: black;
    text-align: center;
    font-size: 200%;
    padding: 10%;
}
.background {
    height: 100%;
    width: 100%;
    text-align: center;
   
}
.btn-icon {
    color: red;
}

.target-log {
    padding: 10%;
}
.titles {
    font-family:'Just Another Hand', cursive;
    font-size: 140%;
    text-align: center;
}
.square {
    height: 200%;
    width: 200%
}
/*
font-family: 'Pacifico', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Delius Swash Caps', cursive;